body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

p::before {
    content: 'hello';
    display: block;
    background: red;
    font-size: 30px;
    color: white;
    font-weight: 900;
}

p::after {
    content: 'goodbye';
    display: block;
    background: red;
    font-size: 30px;
    color: white;
    font-weight: 900;
}
